
html{
  background-color: lightgrey;
}
.centered{
  margin: 0 auto;
  text-align: center;
}


.counter{
  border: 1px solid black;
background-color: rgb(149,217,174) ;
max-width:500px;
margin:0 auto;

}
.textbox{
  width: 80%;
  height: 150px;
}

h3{
  font-family: Comic Sans MS, Comic Sans, cursive;
}

#input{
  font-family: Arial, sans-serif;
  font-size: 15px;
}
